.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex: auto;
    margin: 0 auto;
    padding: 0 auto;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 960px;
    height: 100%;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 960px;
    height: 100%;
}

.container-3-column{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 960px;
    height: 100%;
}

.header{
    height: 65px;
    text-align: right;
    background-color: white;
}

.content{
    display: flex;
    flex-direction: row;
    min-height: 415px;
    justify-content: center;
    width: 100%;
    background-color: rgb(26,188,156);
}

.aside{
    display: flex;
    flex-direction: row;
    min-height: 300px;
    background-color: white;
}

.nav{
    padding: 5px;
    flex: 0 0 auto;
    color:black;
    height: 100%;
    width: 50%;
}

.section{
    color: white;
    flex: 1 1 auto;
    text-align: left;
    height: 100%;
    padding-right: 5%;
    padding-top: 8%;
}

.inputs{
    display: flex;
    flex-direction: row;
    min-height: 425px;
    justify-content: center;
    width: 100%;
    background-color: rgb(26,188,156);
    color: white;
}

.footer{
    background-color: grey;
}

#logo{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    margin-left: 50px;
    height: 75%;
    width: auto;
}

.navigation-menu{
    flex: 1 1 auto;
    height: 100%;
    text-align: right;
    padding-top: 3%;
}

.menu-caption{
    color: black;
    text-decoration: none;
    padding-right: 7%;
}

#phone{
    alignment: left;
    width: 33%;
    padding-left: 15%;
    padding-top: 8%;
}

.frame-button{
    background-color: transparent;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2% 4%;
    font: 110% arial;
}

.buy-button{
    margin-top: 30px;
}

.send-email-button{
    padding: 1% 5%;
}

.text-justify{
    text-align: justify;
}

.text-font {
    font: 10pt/12pt arial;
}

.text-center{
    text-align: center;
}

.frame {
    background-color: transparent;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
}

.icons-img{
    border-radius: 100%;
    border: 3px solid green;
}