.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    flex: auto;
}

.header{
    background-color: #1e90ff;
}

.content{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 70vh;
}

.nav{
    flex: 0 0 200px;
    background-color: aqua;
    color:black;
}

.section{
    flex: 1 1 auto;
    background-color: #2ed573;
    text-align: left;
}

.footer{
    background-color: #57606f;
}

.accordion {
    /* background-color: #eccc68; #eee; */
    background-color: #eccc68;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    /* background-color: #ccc; */
    background-color: #ffa502;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.chessBoardRow{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: flex-start;
}

.chessBoardCol{
    flex: 0 0 auto;
    flex-direction: column;
    flex-shrink: 0;
}

#resultTask08{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: pink;
    height: 480px;
    width: 480px;
    min-height: 480px;
    min-width: 480px;

}
